<mat-card class="capos-card p-4">
    <mat-card-content>
        <div class="text-center" *ngIf="permission">
            <button mat-button (click)="save()" class="bg-custom-2 text-white"><mat-icon>save</mat-icon>Save</button>
        </div>
        <div class="settings">                
            <div *ngFor="let s of STORE_POLICY.PRINTS">
                <mat-checkbox [(ngModel)]="store_policy.prints_settings[s.code]" [disabled]="!permission">{{s.label}}</mat-checkbox>                               
            </div>
        </div>
        <div class="text-center" *ngIf="permission">
            <button mat-button (click)="save()" class="bg-custom-2 text-white"><mat-icon>save</mat-icon>Save</button>
        </div>
    </mat-card-content>
</mat-card>