<div class="p-3">
  <div class="d-flex justify-content-between align-items-center mb-3">    
    <div class="h3">{{mode}} {{msg}}</div>    
    <button mat-mini-fab [matDialogClose]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>    
  <form [formGroup]="form" (ngSubmit)="doAction()">  
    <div class="mb-2">Please enter {{msg}} of this product.</div>    
    <mat-form-field class="w-100" *ngIf="is_price">                  
      <mat-label>Price</mat-label>
      <span matPrefix>$ </span>
      <input type="number" matInput formControlName="prompt_price" required>
      <mat-error *ngIf="priceInput.invalid">{{priceInputError}}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" *ngIf="is_serial">
      <mat-label>Product Serial</mat-label>      
      <input type="text" matInput formControlName="serial" required>
      <mat-error *ngIf="serialInput.invalid">{{serialInputError}}</mat-error>
    </mat-form-field>
    <ng-container  *ngIf="is_weight">
      <div class="mb-2">Blank Cup Weight: <span class="font-weight-bold">{{data.blank_cup_weight}}</span> (g or oz)</div>  
      <mat-form-field class="w-100">
        <mat-label>Weight</mat-label>      
        <input type="number" matInput formControlName="weight" required>
        <span matSuffix>(g or oz)</span>
        <mat-error *ngIf="weightInput.invalid">{{weightInputError}}</mat-error>
      </mat-form-field>    
    </ng-container>    
    <div class="d-flex justify-content-end align-items-right p-1">
      <button type="submit" mat-raised-button class="bg-custom-1 ml-1 mt-3 text-white" color="primary">Save</button>
    </div>
  </form>
</div>