<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="w-100">
    <div class="h3 mb-3 d-flex align-items-center">
      <button mat-icon-button type="button" (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      {{util.toUppercase(mode)}} Employee
    </div>

    <div class="d-flex justify-content-between align-items-center p-4 bg-grey" [ngClass]="{'custom-sticky-nav' : sticky}">
      <div>{{util.toUppercase(mode)}} a  employee. <a>Need help ?</a></div>
      <div>
        <button mat-raised-button type="button" (click)="goBack()" class="text-white px-3 bg-custom-1">Cancel
        </button>
        <button mat-raised-button type="submit" class="text-white px-3 ml-3 bg-custom-2">Save</button>
      </div>
    </div>

    <div class="container">
      <div class="row border-top pt-3 pb-3">
        <div class="col-md-3">
          <div class="h5 font-weight-bold mb-3">Details</div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">            
              <mat-form-field class="w-100">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Type employee name" required>
                <mat-error *ngIf="nameInput.invalid">{{nameInputError}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">            
              <mat-form-field class="w-100">
                <mat-label>Company Name</mat-label>
                <input matInput type="text" formControlName="code" placeholder="Type company name">
              </mat-form-field>
            </div>            
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Employee Code</mat-label>
                <input matInput type="text" formControlName="code" placeholder="Type employee code">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Group</mat-label>
                <mat-select formControlName="groupId">                
                  <mat-option *ngFor="let group of groups" [value]="group._id"> {{group.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">                                    
              <mat-form-field class="w-100">
                <mat-label>Date of Birth</mat-label>
                <input matInput formControlName="birthday" [matDatepicker]="birthday"  placeholder="Choose a date" (focus)="birthday.open()">
                <mat-datepicker #birthday></mat-datepicker>
                <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">                
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>      
      <div class="row border-top pt-3 pb-3">
        <div class="col-md-3">
          <div class="h5 font-weight-bold">Contact Information</div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">            
              <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Type email" required>
                <mat-error *ngIf="emailInput.invalid">{{emailInputError}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">            
              <mat-form-field class="w-100">
                <mat-label>Mobile</mat-label>
                <input matInput type="text" formControlName="mobile" placeholder="Type mobile number">
              </mat-form-field>
            </div>
          </div>
          <div class="row">            
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Phone</mat-label>
                <input matInput type="text" formControlName="phone" placeholder="Type phone number">
              </mat-form-field>
            </div>  
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Fax</mat-label>
                <input matInput type="text" formControlName="fax" placeholder="Type fax number">
              </mat-form-field>
            </div>  
          </div>
          <div class="row">
            <div class="col-md-6">            
              <mat-form-field class="w-100">
                <mat-label>Twitter</mat-label>
                <input matInput type="text" formControlName="twitter" placeholder="Type twitter url">
              </mat-form-field>
            </div>
            <div class="col-md-6">            
              <mat-form-field class="w-100">
                <mat-label>Website</mat-label>
                <input matInput type="text" formControlName="website" placeholder="Type website url">
              </mat-form-field>
            </div>  
          </div>
          <div class="row">
            <div class="col-md-12">            
              <mat-form-field class="w-100">
                <mat-label>Note</mat-label>
                <input matInput type="text" formControlName="note" placeholder="Type additional information">
              </mat-form-field>
            </div>
          </div> 
        </div>
      </div>
      <div class="row border-top pt-3 pb-3">
        <div class="col-md-3">
          <div class="h5 font-weight-bold">Addresses</div>
        </div>
        <div class="col-md-9">
          <ng-container formGroupName="physical_address">
            <div class="row mb-3" >
              <div class="col-md-12 h6 font-weight-bold mb-3">Physical Address</div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Street</mat-label>
                  <input matInput type="text" formControlName="street">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>City</mat-label>
                  <input matInput type="text" formControlName="city">
                </mat-form-field>
              </div>  
            </div>
            <div class="row">
              <div class="col-md-6">            
                <mat-form-field class="w-100">
                  <mat-label>Suburb</mat-label>
                  <input matInput type="text" formControlName="suburb">
                </mat-form-field>
              </div>          
              <div class="col-md-6">            
                <mat-form-field class="w-100">
                  <mat-label>Postcode</mat-label>
                  <input matInput type="text" formControlName="postcode">
                </mat-form-field>
              </div>              
            </div>
            <div class="row">
              <div class="col-md-6">            
                <mat-form-field class="w-100">
                  <mat-label>State</mat-label>
                  <input matInput type="text" formControlName="state">
                </mat-form-field>
              </div>
              <div class="col-md-6">            
                <mat-form-field class="w-100">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country" class="w-100">
                    <mat-option *ngFor="let country of countries" [value]="country._id">
                      {{country.country_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </ng-container>
          
          <div class="row">
            <div class="col-md-12 ml-2">
              <mat-checkbox [(ngModel)]="existPostalAddress" [ngModelOptions]="{standalone: true}"
                            (change)="addPostalAddress()" class="mb-3">
                Postal Address different from Physical Address
              </mat-checkbox>
            </div>
          </div>
          <ng-container formGroupName="postal_address" *ngIf="existPostalAddress">
            <div class="row mb-3" >
              <div class="col-md-12 h6 font-weight-bold mt-5 mb-3">Postal Address</div>
              <div class="col-md-6">            
                <mat-form-field class="w-100">
                  <mat-label>Street</mat-label>
                  <input matInput type="text" formControlName="street">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>City</mat-label>
                  <input matInput type="text" formControlName="city">
                </mat-form-field>
              </div>  
            </div>
            <div class="row">
              <div class="col-md-6">            
                <mat-form-field class="w-100">
                  <mat-label>Suburb</mat-label>
                  <input matInput type="text" formControlName="suburb">
                </mat-form-field>
              </div>          
              <div class="col-md-6">            
                <mat-form-field class="w-100">
                  <mat-label>Postcode</mat-label>
                  <input matInput type="text" formControlName="postcode">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">            
                <mat-form-field class="w-100">
                  <mat-label>State</mat-label>
                  <input matInput type="text" formControlName="state">
                </mat-form-field>
              </div>
              <div class="col-md-6">            
                <mat-form-field class="w-100">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country" class="w-100">
                    <mat-option *ngFor="let country of countries" [value]="country._id">
                      {{country.country_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row border-top pt-3 pb-3">
        <div class="col-md-3">
          <div class="h5 font-weight-bold">Custom Information</div>
        </div>
        <div class="col-md-9">
          <ng-container formGroupName="custom_information">
            <div class="row mb-3">
              <div class="col-md-6">              
                <mat-form-field class="w-100">
                  <mat-label>Custom Field 1</mat-label>
                  <input matInput type="text" formControlName="field1" placeholder="Type custom vale">
                </mat-form-field>
              </div>
              <div class="col-md-6">              
                <mat-form-field class="w-100">
                  <mat-label>Custom Field 2</mat-label>
                  <input matInput type="text" formControlName="field2" placeholder="Type custom vale">
                </mat-form-field>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</div>
