.new_sell{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 82px);
  font-size: 16px;
  background-color: white;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5%;
  div.screen-button{
    margin: 0 0.75rem;
    .mat-icon{
      cursor:pointer;
    }
  }
  div.title-menu{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;    
    padding: 0 0.5rem;
    flex: 1;
    span{
      font-weight: bold;
    }
  }
}
.customers{
  display: flex;
  height: 68px;
  justify-content: space-between;
  & > div {
    border: 2px solid #b0e7f9;    
  }
  .search_product{ width: 25%; background-color: #effdee;}  
  .search_customer{
    width: 20%;    
    border-left: none;
    border-right: none;
  }
  .customer_info{
    width: 50%;
    background-color: #025874;
    display: flex;
    justify-content: space-between;
    & > div {
      border: 2px solid #b0e7f9;
      padding: 0.25rem;
      display: flex;
      flex-direction: column;
      word-break: break-all;
      line-height: 1;
    }
    & > div:first-child, & > div:nth-child(2), & > div:nth-child(3){ width: 20%; }
    & > div:nth-child(4), & > div:nth-child(5) { width: 15%; }
    & > div:nth-child(6) {width: 10%;}
    label{ color: yellow;  margin-bottom: 0; font-size: 0.9em; }
    span{ color: white; font-size: 1em; margin-top: 0.5rem;}
  }  
  .settings{
    width: 5%;
    background-color: #effdee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    div{
      font-size: 0.8em; line-height: 1;
    }
  }
}

.search_product ::ng-deep {
  .mat-form-field{line-height: 1;}
  .mat-form-field-wrapper{padding-bottom: 0;}
  .mat-form-field-underline, .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper{ display: none;}
  .mat-form-field-appearance-fill .mat-form-field-flex{background-color: transparent;}
}

.search_customer ::ng-deep{
  .ng-select.ng-select-single .ng-select-container{height: 65px; border: none;}
  .ng-select.ng-select-opened>.ng-select-container {border: none;}
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{top: 22px;}
}

.order_content{
  display: flex;    
  height: calc(100% - 5% - 68px - 20%);
  .category {
    width: 20%;
    display: flex;
    border: 1px solid #b0f7aa;
    flex-direction: column;
    & > div {
      display: flex;
      flex: 1;
      button {
        background-color: #effdee;
        border: 1px solid #b0f7aa;        
        flex: 1;
        font-size: 0.9em;
        word-break: break-all;
        &:hover, &.active{ background-color: #bbf8b5; }
      }
    }
  }
  .products {
    width: 40%;
    display: flex;
    border: 1px solid #b0e7f9;
    border-left: 2px solid #2f80ed;
    flex-direction: column;
    position: relative;        
    & > div {
      display: flex;
      height: 12.5%;
      & > div:not(.out_of_stock) {
        border: 1px solid #b0e7f9;
        text-align: center;
        flex: 1;
        &:hover { background-color: #ddf5fd; }        
      }
    }
    .spinner-container {
      width: 100%; height: 100%;  
      position: absolute;
      background: white;
      z-index: 2;
    }
    .product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;      
      position: relative;
      font-size: 0.9em;
      & > * { line-height: 1;}
      & > div {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        &.img_wraper { 
          position: relative;
          width: 100%; height: 100%; 
          display: block;
          .img {
            width: 100%; height: 100%;
            overflow: hidden;
            img{ width: 100%; height: 100%; object-fit: contain;}        
          }          
        }
        &.out_of_stock {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background: white;
          opacity: 0.8;
          color: red;
        }
        &.product_detail{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0.25rem;
          &.overlay{display:none;}
          .product_title{
            text-align: center;
            font-weight: 500;
            color: #3f51b5;   
            display: -webkit-box;
            -webkit-box-orient: vertical;   
            -webkit-line-clamp: 2;
            overflow: hidden;
            line-height: 1;
            width: 100%;
          }
          .price {font-weight: 500; padding-bottom: 0.25rem;}      
        }
      }
      &:hover {
        .img {opacity: 0.3;}
        .product_detail.overlay{display: flex;}
      }
    }
  }
  .carts{
    width: 40%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #88e0f9;
    .spinner-container{height: 100%;}
    .cart_table {
      flex-grow: 1;
      overflow: auto;
      table{
        width: 100%;
        thead{
          tr th{
            position: sticky;
            background-color: #b5f1ff;
            border: 1px solid #88e0f9;
            text-align: center;
            top: -1px;
            z-index: 100;
            padding: 0.35rem 0.25rem;
          }
        }
        tbody {
          tr:hover, tr.active{background-color: #ecfbfe;}
          td {
            border: 1px solid #c4c4c4;
            text-align: right;
            white-space: nowrap;     
            vertical-align: middle;
            cursor: default; 
            padding: 0.45rem 0.25rem;
            line-height: 1;
          }
          td.wrap{white-space: pre-wrap;}
          tr.discount_tr{background-color: #effdee;}
          tr.weight_tr{background-color: #e5f6fc;}
          tr.bundle_tr{background-color: rgb(207, 250, 246);}
          a {
            text-decoration: underline;
          }
        }
      }
    }
    .cart_summary{
      background-color: #025874;
      display: flex;
      color: white;
      font-size: 1.15em;
      padding: 0.25rem;
      margin-top: auto;
      div {padding: 0.25rem 0.5rem; flex-wrap: wrap;}      
      label {margin-bottom: 0; color: yellow; line-height: 1;}
      span {font-weight: 500; line-height: 1;}
      & > div {width: 50%;}
      .summary_price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin-left: auto;
      }
      .total_price{
        font-size: 2em;
        padding: 0;
      }
    }
  }
}
.carts td ::ng-deep{
  .mat-checkbox-layout{margin-bottom:0;}
}

.control_buttons {  
  border: 1px solid #03befc;  
  height: 20%;
  display: flex;
  flex-direction: column;
  & > div {
    display: flex;
    flex: 1
  }
  button {
    border: 1px solid #03befc;
    font-weight: bold;
    font-size: 0.9em;
    flex: 1;
    line-height: 1.2;
    &:hover{background-color: #b0e7f9;}
  }
  .btn_payment {
    background-color: #b0e7f9;
    &:hover {background-color: #9be3fc;}
  }
  .btn_cart {
    background-color: #bbf8b5;
    &:hover {background-color: #87ff7c;}
  }
  .btn_void {
    background-color: #f8b5b5;
    &:hover {background-color: #ff7c7c;}
  }
  .btn_sale {
    background-color: #f8ecb5;
    &:hover {background-color: #ffeb7c;}
  }
  .complete_sale{
    background-color: #bbf8b5;
    &:hover {background-color: #87ff7c;}
  }
  .btn_retrieve {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.hidden{
  display: none;
}

@media (max-width: 1200px) {
  .new_sell{font-size: 14px;}
}

@media (max-width: 1100px), (max-height: 768px) {
  .new_sell{font-size: 13px;}
}

@media (max-width: 1000px), (max-height: 680px) {
  .new_sell{font-size: 12px;}
}

.border-top-3 {
  border-top-width: 3px;
}

.border-bottom-1 {
  border-bottom: 1px solid grey;
}
.md{
  font-size: 1.5em;
}
.vh-75 {
  min-height: 75vh;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.mat-edit{
  color: #1e88e5;
  cursor: pointer;
}
.products_table{
  width: 100%; 
  font-size: 1.2em;
  th{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  tr > td{
    vertical-align: top;
    padding: 10px 0;
  }
}
.cart-summary{  
  border-top: 1px solid;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  padding: 15px 0;
}
.total-summary{
  padding: 16px 0;  
  font-size: 1.3em;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  border-top: 1px solid;
}
.custom-lg{
  font-size: 30px;
  .mat-form-field-infix{
    padding-top: 0;
  }
}
:host ::ng-deep {
  .popover {
    min-width: 450px;
    max-width: 100%;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    .arrow{
      left: 47%;
    }
  }
  .payForm .mat-form-field-infix{
    width: 200px;
  }
}
.parked-container{
  max-height: 600px;
  overflow-y: auto;  
}
.opacity-0 {
  opacity: 0 !important;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-top: 5px; 
  padding-bottom: 5px;
  font-size: 0.9em;
}

.line-height-1{
  line-height: 1.1;
}
.spinner-container{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sel-type{
  font-weight: bold;
  font-size: 1.2em;
  color: #3f51b5;
}
.products-wrapper{
  display: flex;
  flex-wrap: wrap;
  .product:hover{
    box-shadow: 0 6px 10px rgb(0 0 0 / 14%), 0 1px 18px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 20%);
  }
  .product{
    background: rgba(0,0,0,.03);
    box-shadow: inset 0 -2px 0 #dedede;   
    height: 200px; 
    .img{
      width:100%; height: 120px;
      overflow: hidden;
      img{width: 100%; height: 100%; object-fit: cover;}
    }
    .details{
      display:flex;
      flex-direction: column;
      height: 80px;
      padding-top: 0.25rem;
      .title{
        text-align: center;
        font-weight: 500;
        color: #3f51b5;   
        display: -webkit-box;
        -webkit-box-orient: vertical;   
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-height: 1;
      }
      .variants{
        line-height: 11px;
        text-align: center;
      }
      .price{
        font-weight: bold;
      }
      .out_of_stock{
        color: red;
        font-size: 0.5em;
      }
    }
  }
}
.c-title{
  padding: 11px 0;
}
.sort_order{
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
:host ::ng-deep {
  .sort {
    .mat-form-field-infix{
      width: 100px;
    }    
  }
  .details{
    .mat-mini-fab{
      width: 35px; height: 35px;
    }
    .mat-icon{
      width: 20px; height: 20px; font-size: 20px;
    }
    .mat-mini-fab .mat-button-wrapper{
      line-height: 20px;
    }
  }
}
.cart_products_table{
  max-height: 370px;
  overflow-y: auto;
}
.customer-display.container {
    padding: 0.75rem; 
    max-height:800px; 
    overflow: auto;
  .summary{
    border-top: 1px solid #333;
    font-size: 1.2em;
    padding: 0.75rem 0;
  }
  .products_table{
    max-height: 400px;
    overflow-y: auto;
  }
  .table-header{
    font-weight: bold;
    border-bottom: 1px solid #000;    
  }
  .qty{
    width: 50px;
    padding: 0.5rem 0.75rem;
  }
  .product{
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;    
  }
}