<div class="container p-4">
  <div class="row" *ngIf="payStep === 1">
    <div class="col-md-8">
      <div class="d-flex flex-column align-items-center pt-4">
        <mat-form-field class="w-100">
          <mat-label>Search for Products</mat-label>
          <input matInput type="text" [(ngModel)]="keyword" (keyup.enter)="applyFilter()" [ngModelOptions]="{standalone: true}" 
            placeholder="Enter name, SKU, handle or supplier code">
          <mat-icon matPrefix>search icon</mat-icon>
          <mat-icon matSuffix class="cursor-pointer" *ngIf="keyword!=''" (click)="clearKeyword()">close</mat-icon>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="h5 c-title">Category</div>
          <div class="category-container">
            <mat-radio-group aria-label="Select a Category" [(ngModel)]="selectedType" (change)="applyFilter()">
              <mat-radio-button class="d-block mt-2" *ngFor="let type of producttypes" [value]="type" [ngClass]="{'sel-type':selectedType==type}">
                {{type.data.name}} ({{type.data.products}})
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-9">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-center w-100">
              <div class="h5">
                <ng-container *ngIf="selectedType">{{keyword!=''? 'Search Result' : selectedType.data.name}} - <small>{{productDatasource.totalElements}} Product(s)</small></ng-container>
              </div>
            </div>
            <div class="d-flex sort">              
              <mat-form-field class="w-100">
                <mat-label>Sort by</mat-label>
                <mat-select [(ngModel)]="sort.field" (selectionChange)="applyFilter()">
                  <mat-option value="name">Name</mat-option>
                  <mat-option value="retail_price">Price</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="d-flex flex-column justify-content-center">
                <mat-icon class="cursor-pointer" [ngClass]="{'sort_order':sort.order==1}" (click)="resort()">sort</mat-icon>
              </div>
            </div>
          </div>
          
          <mat-card class="w-100 mb-2">
            <mat-card-content class="w-100">
              <div class="products-container">
                <div class="spinner-container" *ngIf="productDatasource.loading | async">
                  <mat-spinner [diameter]="28"></mat-spinner>
                </div>
                <div class="products-wrapper">
                  <div fxFlex="100" fxFlex.gt-md="20" fxFlex.md="20" class="p-2" *ngFor="let product of productDatasource.data">
                    <div class="product cursor-pointer" (click)="addToCart(product)">
                      <div class="img"><img [src]="product.image"/></div>
                      <div class="details">
                        <div class="title">{{product.data.name}}</div>
                        <div *ngIf="product.data.variant_products.length>0" class="variants"><small>{{product.data.variant_products.length}} Variants</small></div>
                        <div class="mt-auto p-2 d-flex justify-content-between">
                          <div class="d-flex flex-column justify-content-center">
                            <div class="price">{{util.getPriceWithCurrency(product.data.retail_price)}}</div>
                          </div>
                          <div class="out_of_stock" *ngIf="!cart.checkInStock(product)">Out of Stock</div>
                          <!-- <button mat-mini-fab color="primary" *ngIf="cart.checkInStock(product)"><mat-icon>add_shopping_cart</mat-icon></button> -->
                        </div>
                      </div>
                    </div>
                  </div>                  
                  
                </div>
                <div *ngIf="productDatasource.data.length==0">No available products</div>                  
              </div>
              <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="30" 
                  [length]="productDatasource.totalElements" showFirstLastButtons color="primary"></mat-paginator>
            </mat-card-content>   
          </mat-card>          
        </div>
      </div>
    </div>
    <div class="col-md-4 p-3">
      <ng-container *ngIf="!isOpenRegister">
        <mat-card class="w-100 mb-2 p-4 vh-75 d-flex flex-column">
          <div class="text-center h3">Register closed</div>
          <div>Set an opening float to open the register and make a sale.</div>
          <form [formGroup]="registerForm" (ngSubmit)="openRegister()" class="mt-4">
            <mat-card-content class="w-100">   
              <mat-form-field class="w-100" >
                <mat-label>Opening Float</mat-label>
                <input type="number" matInput formControlName="open_value" required>
                <mat-error *ngIf="floatInput.invalid">{{floatInputError}}</mat-error>   
              </mat-form-field>
              <mat-form-field class="w-100">
                  <mat-label>Notes (Optional):</mat-label>
                  <textarea matInput formControlName="open_note" placeholder="Input your note here..."></textarea>
              </mat-form-field>
              <div class="w-100">
                <button type="submit" mat-button class="w-100 bg-custom-2 text-white">Open Register</button>
              </div>           
            </mat-card-content>            
          </form>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="isOpenRegister">      
        <form (ngSubmit)="startPay()" (keydown.enter)="$event.preventDefault()">
          <div class="d-flex justify-content-between mb-2">
            <button mat-button type="button" class="p-2" [popover]="parkedSales" [popoverOnHover]="false" (onShown)="loadParkedSales()">
              <mat-icon class="mr-2">redo</mat-icon>
              Retrieve sale
            </button>          
            <popover-content #parkedSales                    
              placement="bottom"
              [animation]="true" 
              [popoverOnHover]="false"
              [popoverCloseOnClickOutside]="true"
              [popoverCloseOnMouseOutside]="false"                        
              [closeOnClickOutside]="true">
              <div class="row">
                <div class="col-md-7 font-weight-bold border-bottom pt-2 pb-2">Parked Sale</div>
                <div class="col-md-5 font-weight-bold border-bottom pt-2 pb-2">Customer</div>
              </div>
              <div class="parked-container">
                <div class="spinner-container" *ngIf="!bLoad_parked_sales">
                  <mat-spinner [diameter]="28" color="white"></mat-spinner>
                </div>
                <div *ngIf="parked_sales.length==0" class="p-2">No Parked Sales</div>
                <mat-selection-list #parked_sale [multiple]="false">
                  <mat-list-option *ngFor="let sale of parked_sales" [value]="sale" (click)="retrieveSale(sale)">
                    <div class="row">
                      <div class="col-md-7">
                        <ng-container *ngFor="let p of getParkedSaleLable(sale)">
                          <div [innerHTML]="p" class="line-height-1"></div>                      
                        </ng-container>
                        <div class="small">{{util.handleDateTime(sale.created_at)}}</div>
                      </div>
                      <div class="col-md-5 align-self-center">
                        <div class="d-flex justify-content-between">
                          <div *ngIf="sale.customer">{{sale.customer.name}}</div>
                          <div *ngIf="!sale.customer">-</div>
                          <mat-icon color="primary">redo</mat-icon>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="sale.note"><small>Note: {{sale.note}}</small></div>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </popover-content> 
            
            <button mat-button type="button" class="p-2" (click)="parkSale()">
              <mat-icon class="mr-2">watch_later</mat-icon>
              Park sale
            </button>

            <button mat-button type="button" [matMenuTriggerFor]="more_action" class="p-2">
              <mat-icon class="mr-2">more_vert</mat-icon>
              More Actions...
            </button>
            <mat-menu #more_action>
              <button mat-menu-item (click)="quoteSale()" [disabled]="cart.isRefund" [ngClass]="{'disabled':cart.isRefund}">
                Quote Sale
              </button>
              <button mat-menu-item (click)="markUnfulfilled()" [disabled]="cart.isRefund" [ngClass]="{'disabled':cart.isRefund}">
                Mark as Unfulfilled ...
              </button>
              <button mat-menu-item (click)="discardSale()">
                Discard Sale
              </button>
            </mat-menu>
          </div>
          <mat-card class="w-100 mb-2 vh-75 d-flex flex-column justify-content-between">          
            <div>
              <div class="d-flex justify-content-between mb-2">
                <div class="h5" *ngIf="cart.sale_number">#{{cart.sale_number}}</div>
                <button type="button" mat-raised-button color="primary" (click)="openCustomerDisplay(true)" 
                  #tooltip="matTooltip" matTooltip="Open Customer Screen" [disabled]="!isCustomerScreen" [ngClass]="{'disabled':!isCustomerScreen}">
                  <mat-icon>screen_share</mat-icon>
                </button>
              </div>
              <ng-select class="slt-custom mb-3" [(ngModel)]="addedCustomer" [ngModelOptions]="{standalone: true}"
                        placeholder="Search customer ..." (change)="selCustomer()" [disabled]="cart.origin_customer!=''">
                <ng-option *ngFor="let customer of customers" [value]="customer">
                  <div>{{customer.username}}</div>
                </ng-option>
              </ng-select>
              <div class="cart_products_table">
                <div class="spinner-container" *ngIf="!bLoad_sales && cart.products.length==0">
                  <mat-spinner [diameter]="28" color="white"></mat-spinner>
                </div>
                <mat-expansion-panel class="mb-3" *ngFor="let product of cart.products; let productNo = index;">
                  <mat-expansion-panel-header>
                    <div class="w-100 d-flex justify-content-between align-items-center font-weight-bold pt-2">
                      <div class="d-flex">
                        <div [ngClass]="{'red':cart.isRefund}">{{product.qty}}</div>
                        <div class="ml-3">
                          <div>{{product.product_name}}</div>
                          <div *ngIf="product.variant_name"><small>{{product.variant_name}}</small></div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="d-flex flex-column justify-content-center">
                          <div>{{product.discountedTotalWithoutGlobal_str}}</div>
                          <div class="text-decoration" *ngIf="product.discount.value">
                            <small>{{product.total_str}}</small>
                          </div>
                        </div>
                        <button type="button" mat-icon-button class="ml-3 mr-3" color="primary" (click)="removeProduct(productNo)">
                          <mat-icon> delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-expansion-panel-header>
                  <mat-panel-description class="d-block mr-0">
                    <div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="d-flex justify-content-between mt-3 mb-3">
                            <div>Price</div>
                            <div>$ {{product.price.toFixed(2)}}</div>
                          </div>
                          <div class="d-flex justify-content-between mt-3 mb-3" *ngIf="!cart.isOutletTax && !cart.isRefund">
                            <div>Tax(+{{product.tax}}%)</div>
                            <div>{{product.taxAmount}}</div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div>
                            <mat-form-field class="w-100">
                              <mat-label>Discount({{cart.discount_symbol}})</mat-label>
                              <input matInput type="number" [(ngModel)]="product.discount.value" [ngModelOptions]="{standalone: true}" 
                                [readonly]="!allow_discount || !passed_password || cart.isRefund" (change)="cart.save()" class="hide-arrow">
                              <mat-icon matSuffix class="mat-edit" (click)="confirmPassword()" 
                                *ngIf="!passed_password && allow_discount && !cart.isRefund">edit</mat-icon>
                            </mat-form-field>
                          </div>
                          <div>
                            <mat-form-field class="w-100">
                              <mat-label>Quantity</mat-label>
                              <input matInput type="number" [(ngModel)]="product.qty" 
                                [ngModelOptions]="{standalone: true}" 
                                [readonly]="cart.isRefund"
                                (change)="setQty(product, productNo)" min="1">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>                                    
                      <div class="row">                  
                        <div class="col-md-12">
                          <mat-form-field class="w-100">
                            <mat-label>Notes</mat-label>
                            <input matInput type="text" placeholder="Type to add note ..." (change)="cart.save()"
                                    [(ngModel)]="product.note" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel>
              </div>
            </div>

            <div>
              <mat-divider class="mb-3 border-t-w-3"></mat-divider>
              <div class="p-3 mb-3 md font-weight-light">              
                <div class="d-flex justify-content-between align-items-center mb-3 pb-3 border-bottom-1">                
                  <button mat-raised-button type="button" color="primary" 
                    [disabled]="cart.isRefund" [ngClass]="{'disabled':cart.isRefund}"
                    (click)="addDiscount()">Add Discount</button>
                  <button mat-raised-button type="button" color="primary" (click)="showNote=!showNote">Add Note</button>
                </div>

                <div class="font-weight-normal h6 border-bottom-1" *ngIf="showNote">                
                  <mat-form-field class="w-100">
                    <mat-label>Notes</mat-label>
                    <input matInput type="text" placeholder="Type to add note ..." [(ngModel)]="cart.note" [ngModelOptions]="{standalone: true}" 
                      (change)="cart.save()">
                  </mat-form-field>
                </div>

                <div class="d-flex justify-content-between align-items-center  mb-3 pb-3 border-bottom-1">
                  <div>Subtotal</div>
                  <div>{{cart.subTotal_str}}</div>
                </div>

                <div class="d-flex justify-content-between align-items-center  mb-3 pb-3 border-bottom-1"
                    *ngIf="cart.discount.value && cart.products.length">
                  <div>Discount</div>
                  <div>{{cart.discount_str}}</div>
                </div>

                <div class="d-flex justify-content-between mb-3" *ngIf="!cart.isRefund">
                  <div>Tax{{cart.taxRate_str}}</div>
                  <div>{{cart.taxAmount_str}}</div>
                </div>
              </div>
              <mat-divider class="mb-3 border-t-w-3"></mat-divider>
              <div class="p-3">
                <button mat-button type="submit" class="w-100 p-2 bg-custom-2" [ngClass]="{'light-red-bg':cart.isRefund}">
                  <div class="d-flex justify-content-between ">
                    <div class="md font-weight-bold">
                      <ng-container *ngIf="!cart.isRefund">Pay</ng-container>
                      <ng-container *ngIf="cart.isRefund">Refund</ng-container>
                      <small class="ml-3">{{cart.total_items}} items</small>
                    </div>
                    <div class="md font-weight-bold">{{cart.totalIncl_str}}</div>
                  </div>
                </button>
              </div>
            </div>
          </mat-card>
        </form>
      </ng-container>
    </div>
  </div>

  <div class="row" *ngIf="payStep === 2">
    <div class="col-xl-6">
      <div class="d-flex align-items-center mb-4">
        <button mat-button mat-icon-button type="button" (click)="payStep=1" *ngIf="!cart.able_to_complete">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <div class="d-flex justify-content-between w-100">
          <div class="lg">Sale</div>
          <div class="d-flex flex-column justify-content-center">
            <button type="button" mat-raised-button color="primary" (click)="openCustomerDisplay(true)"
              #tooltip="matTooltip" matTooltip="Open Customer Screen" [disabled]="!isCustomerScreen" [ngClass]="{'disabled':!isCustomerScreen}">
              <mat-icon>screen_share</mat-icon>
            </button>
          </div>
        </div>        
      </div>

      <div id="sale">
        <div class="d-none" >
          <div style="display: flex; flex-direction: column; align-items: center;">
            <b style="margin-bottom: 16px">{{cart.user.private_web_address}}</b>
            <div *ngIf="cart.user.outlet">{{cart.user.outlet.name}}</div>
            <div>Served by: &nbsp;{{cart.user.first_name}} {{cart.user.last_name}}</div>
          </div>
        </div>
        <div style="display:flex; font-weight: bold; border-bottom: 1px solid #000; font-size: 1.2em;">
          <div style="width: 50px; padding: 0.5rem 0.75rem;">Qty</div>
          <div style="width: calc(100% - 50px); display: flex;justify-content: space-between; padding: 0.5rem 0.75rem;">
            <div>Product</div>
            <div>Price</div>        
          </div>
        </div>
        <div style="max-height: 400px; overflow-y: auto;font-size: 1.2em;">
          <ng-container *ngFor="let product of cart.products">
          <div style="display:flex;">
            <div style="width: 50px; padding: 0.5rem 0.75rem;">{{product.qty}}</div>
            <div style="width: calc(100% - 50px); display: flex;justify-content: space-between; padding: 0.5rem 0.75rem;">
              <div>
                <div>{{product.product_name}}</div>
                <div *ngIf="product.variant_name"><small>{{product.variant_name}}</small></div>
              </div>
              <div>
                <div>
                  <span style="text-decoration: line-through;" *ngIf="product.discount.value>0">
                    {{product.totalPrice_str}}
                  </span>
                  {{product.discountedTotalWithoutGlobal_str}}
                </div>
                <div *ngIf="product.discount.value"><small>Discount: {{product.discountAmount}}</small></div>
                <div *ngIf="!cart.isOutletTax && !cart.isRefund"><small>Tax{{product.taxRate_str}}: {{product.taxAmount}}</small></div>
              </div>
            </div>
          </div>              
          <div style="text-align: right;" *ngIf="product.note">                
            <small><b>Note: </b>{{product.note}}</small>                  
          </div>
          </ng-container>
        </div>

        <div style="border-top: 1px solid; font-size: 1.3em; font-style: normal; font-weight: 400; line-height: 29px; padding: 15px 0;">
          <div style="display:flex; justify-content: space-between;">
            <div>Sub Total</div>
            <div>{{cart.subTotal_str}}</div>
          </div>

          <div style="display:flex; justify-content: space-between;" *ngIf="cart.discount.value && cart.products.length>0">
            <div>Additional Discount</div>
            <div>{{cart.discount_str}}</div>
          </div>
          <div style="display:flex; justify-content: space-between;" *ngIf="!cart.isRefund">
            <div>Tax{{cart.taxRate_str}}</div>
            <div>{{cart.taxAmount_str}}</div>
          </div>
        </div>
        <div style="padding: 16px 0; font-size: 1.3em;font-weight: 400;line-height: 29px;letter-spacing: 0em; border-top: 1px solid;">
          <div style="display:flex; justify-content: space-between;">
            <div>
              Sale Total <small>{{cart.total_items}} items</small>
            </div>
            <div>{{cart.totalIncl_str}}</div>
          </div>          
        </div>

        <div style="padding: 16px 0; font-size: 1.3em;font-weight: 400;line-height: 29px;letter-spacing: 0em; border-top: 1px solid;" 
          *ngIf="cart.payments.length>0">
          <div style="display:flex; justify-content: space-between;" *ngFor="let payment of cart.payments">
            <div>
              <div>{{cart.getPaymentType(payment)}}</div>
              <div>
                <small>{{util.handleDate(payment.created_at)}}</small>
              </div>
            </div>
            <div>{{util.getPriceWithCurrency(payment.amount)}}</div>
          </div>
        </div>
        <div style="padding: 16px 0; font-size: 1.3em;font-weight: 400;line-height: 29px;letter-spacing: 0em; border-top: 1px solid;" 
          *ngIf="cart.change">
          <div style="display:flex; justify-content: space-between;">
            <div class="font-weight-bold">Change</div>
            <div>{{util.getPriceWithCurrency(cart.change)}}</div>
          </div>
        </div>
        
        <div style="padding: 16px 0; font-size: 1.3em;font-weight: 400;line-height: 29px;letter-spacing: 0em; border-top: 1px solid;"
            *ngIf="!cart.isRefund">
          <div style="display:flex; justify-content: space-between;">
            <div class="font-weight-bold">To Pay</div>
            <div>{{util.getPriceWithCurrency(cart.total_to_pay)}}
            </div>
          </div>
        </div>
        <div style="padding: 16px 0; font-size: 1.3em;font-weight: 400;line-height: 29px;letter-spacing: 0em; border-top: 1px solid;" 
          *ngIf="!cart.payments.length && !cart.isRefund">
          <div style="display:flex; justify-content: space-between;">
            <div class="font-weight-bold">Total Savings</div>
            <div>{{util.getPriceWithCurrency(cart.savings)}}</div>
          </div>
        </div>
      </div>

      <div id="gift" class="d-none">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <b style="margin-bottom: 16px">{{cart.user.private_web_address}}</b>
          <div *ngIf="cart.user.outlet">{{cart.user.outlet.name}}</div>
          <div>Served by: &nbsp;{{cart.user.email}}</div>
        </div>
        <ng-container *ngFor="let product of cart.products">
          <div style="display: flex;justify-content: space-between; padding: 10px; border-top:1px solid #ccc;">
            <div>
              <div>{{product.product_name}}</div>
              <div style="margin-left: 8px"><small>{{product.variant_name}}</small></div>
            </div>
            <div>{{product.qty}}</div>  
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-xl-6">
      <mat-card class="capos-card">
        <mat-card-content>
          <div *ngIf="!cart.able_to_complete">
            <div class="d-flex justify-content-between mb-3">
              <div class="lg custom-lg pt-4">
                <ng-container *ngIf="!cart.isRefund">Amount to Pay</ng-container>
                <ng-container *ngIf="cart.isRefund">Amount to Refund</ng-container>
              </div>
              <div class="custom-lg" [formGroup]="payForm">
                <mat-form-field class="w-100 payForm">
                  <span matPrefix>$ </span>
                  <input matInput type="number" formControlName="amountToPay" min="0" *ngIf="!cart.isRefund"/>
                  <mat-error *ngIf="amountToPay.invalid && !cart.isRefund" style="font-size:12px;">{{amountToPayError}}</mat-error>
                  <input matInput type="number" formControlName="amountToReturn" max="0" *ngIf="cart.isRefund"/>
                  <mat-error *ngIf="amountToPay.invalid && cart.isRefund" style="font-size:12px;">{{amountToReturnError}}</mat-error>
                </mat-form-field>
              </div>
            </div>              
          </div>
          <div *ngIf="cart.able_to_complete">
            <div class="mt-4 mb-3 text-center" >
              <div class="h2 font-weight-bold" *ngIf="!cart.isRefund && cart.total_to_pay==0">
                Payment Received                
              </div>
              <div class="h5" *ngIf="cart.change>0">Pay change <b>{{util.getPriceWithCurrency(cart.change)}}</b></div>
              <ng-container *ngIf="cart.isRefund && cart.total_to_pay==0">
                Refunds Received
              </ng-container>              
              <ng-container *ngIf="cart.payment_status=='layby'">
                $ {{cart.total_to_pay}} on LayBy
              </ng-container>
              <ng-container *ngIf="cart.payment_status=='on_account'">
                $ {{cart.total_to_pay}} on Account
              </ng-container>
            </div>
            <div class="d-flex justify-content-around mt-3 mb-4">
              <button mat-button type="button" printSectionId="sale" ngxPrint>
                <mat-icon color="primary">print</mat-icon>
                Print
              </button>  
              <button mat-button type="button" printSectionId="gift" ngxPrint *ngIf="cart.total_to_pay<0">
                <mat-icon color="primary">card_giftcard</mat-icon>
                Gift Receipt
              </button>
            </div>            
          </div>
          <div class="row" *ngIf="!cart.able_to_complete">
            <div class="col-md-4">
              <button mat-button class="w-100 bg-custom-2 text-white md btn-custom" (click)="pay('cash')" [ngClass]="{'light-red-bg':cart.isRefund}">
                Cash
              </button>
            </div>
            <div class="col-md-4">
              <button mat-button class="w-100 bg-custom-2 text-white md btn-custom" (click)="pay('credit')" [ngClass]="{'light-red-bg':cart.isRefund}">
                Credit Card
              </button>
            </div>
            <div class="col-md-4">
              <button mat-button class="w-100 bg-custom-2 text-white md btn-custom" (click)="pay('master')" [ngClass]="{'light-red-bg':cart.isRefund}">
                Master Card
              </button>
            </div>
          </div>
          <div class="row mt-3 mb-2">
            <div class="col-md-12" *ngIf="!addedCustomer">
              <ng-select class="slt-custom mb-3" [(ngModel)]="addedCustomer" [ngModelOptions]="{standalone: true}"
                    placeholder="Search customer ..." (change)="selCustomer()" [disabled]="cart.origin_customer!=''">
                <ng-option *ngFor="let customer of customers" [value]="customer">
                  <div>{{customer.username}}</div>
                </ng-option>
              </ng-select>
            </div>
            <div class="col-md-12" *ngIf="addedCustomer">
              <div class="border-1 p-3">
                <div class="d-flex justify-content-between pb-3">
                  <div>
                    <div>{{addedCustomer.username}}</div>
                    <div><small><span *ngIf="addedCustomer.data.contact">{{addedCustomer.data.contact}} | </span>
                      <span *ngIf="addedCustomer.contactInfo">{{addedCustomer.contactInfo}}</span></small></div>
                  </div>                    
                  <mat-icon class="cursor-pointer" (click)="resetCustomer()" *ngIf="!cart.able_to_complete && cart.origin_customer==''">delete_outline</mat-icon>
                </div>
                <div class="d-flex justify-content-around border-top-1 pt-3">
                  <div class="text-center">
                    <div>Account Balnce</div>
                    <h2 class="mb-0">{{addedCustomer.balance_str}}</h2>
                  </div>
                  <div class="text-center">
                    <div>Store Credit</div>
                    <h2 class="mb-0">{{addedCustomer.credit_str}}</h2>
                  </div>
                </div>
              </div>                
            </div>
          </div>
          <div class="mt-3 mb-3" *ngIf="cart.able_to_complete && addedCustomer">
            <div class="border-1 p-3 text-center">
              <mat-slide-toggle [(ngModel)]="send_email" [ngModelOptions]="{standalone: true}">Email a receipt to <b>{{addedCustomer.data.email}}</b></mat-slide-toggle>
            </div>
          </div>
          <div class="mt-3 mb-3" *ngIf="cart.able_to_complete">
            <div class="border-1 p-3">
              <div class="font-weight-bold">Sale Note</div>
              <mat-form-field class="w-100">
                <textarea matInput [(ngModel)]="cart.note" [ngModelOptions]="{standalone: true}" 
                  placeholder="Type to add sale note..."></textarea>                
              </mat-form-field>
            </div>
          </div>
          <div class="row" *ngIf="!cart.able_to_complete">
            <div class="col-md-4" *ngIf="!cart.isRefund && cart.origin_status !== 'on_account'">
              <button mat-button class="w-100 bg-custom-2 text-white md btn-custom" 
                [disabled]="!addedCustomer || amountToPay.value!=cart.totalIncl"
                [ngClass]="{'disabled': !addedCustomer || amountToPay.value!=cart.totalIncl}" 
                (click)="pay('layby')">
                Layby
              </button>
            </div>
            <div class="col-md-4">
              <button mat-button class="w-100 bg-custom-2 text-white md btn-custom"
                  [disabled]="!addedCustomer || (!cart.isRefund && addedCustomer && addedCustomer.data.credit<=0)"
                  [ngClass]="{'disabled':!addedCustomer || (!cart.isRefund && addedCustomer && addedCustomer.data.credit<=0)}" 
                  (click)="pay('store_credit')">
                Store Credit
              </button>
            </div>
            <div class="col-md-4" *ngIf="!cart.isRefund && cart.origin_status !== 'layby'">
              <button mat-button class="w-100 bg-custom-2 text-white md btn-custom"
                      [disabled]="!addedCustomer || amountToPay.value!=cart.totalIncl"
                      [ngClass]="{'disabled': !addedCustomer || amountToPay.value!=cart.totalIncl}" 
                      (click)="pay('on_account')">
                On Account
              </button>
            </div>
            <div class="col-md-12" *ngIf="addedCustomer && amountToPay.value<cart.totalIncl && !cart.isRefund">
              <small>Layby and On Account cannot be used for partial payments.</small>
            </div>
          </div>
          <div *ngIf="cart.able_to_complete">
            <button mat-button class="btn-custom text-white w-100 bg-custom-2" (click)="completeSale()">
              Complete Sale
            </button>
          </div>
        </mat-card-content>
      </mat-card>      
    </div>
  </div>
</div>
<app-customer-display>    
  <div class="pt-2 pl-2" *ngIf="cart.customer">
    <h3 class="customer">Customer: {{cart.customer.data.name}} ({{cart.customer.data.email}})</h3>
  </div>
  <div class="customer-display container">        
    <div class="d-flex table-header">
      <div class="qty">Qty</div>
      <div class="product">
        <div>Product</div>
        <div>Price</div>        
      </div>
    </div>
    <div class="products_table">
      <ng-container *ngFor="let product of cart.products">
      <div class="d-flex">
        <div class="qty">{{product.qty}}</div>
        <div class="product">
          <div>
            <div>{{product.product_name}}</div>
            <div *ngIf="product.variant_name"><small>{{product.variant_name}}</small></div>
          </div>
          <div>
            <div>
              <span style="text-decoration: line-through;" *ngIf="product.discount.value>0">
                {{product.totalPrice_str}}
              </span>
              {{product.discountedTotalWithoutGlobal_str}}
            </div>
            <div *ngIf="product.discount.value"><small>Discount: {{product.discountAmount}}</small></div>
            <div *ngIf="!cart.isOutletTax && !cart.isRefund"><small>Tax{{product.taxRate_str}}: {{product.taxAmount}}</small></div>
          </div>
        </div>
      </div>              
      <div class="text-right" *ngIf="product.note">                
        <small><b>Note: </b>{{product.note}}</small>                  
      </div>
      </ng-container>
    </div>
    <div class="summary">
      <div class="d-flex justify-content-between">
        <div>Sub Total</div>
        <div>{{cart.subTotal_str}}</div>
      </div>

      <div class="d-flex justify-content-between" *ngIf="cart.discount.value && cart.products.length>0">
        <div>Additional Discount</div>
        <div>{{cart.discount_str}}</div>
      </div>
      <div class="d-flex justify-content-between" *ngIf="!cart.isRefund">
        <div>Tax{{cart.taxRate_str}}</div>
        <div>{{cart.taxAmount_str}}</div>
      </div>
    </div>
    <div class="summary">
      <div class="d-flex justify-content-between">
        <div>
          Sale Total <small>{{cart.total_items}} items</small>
        </div>
        <div>{{cart.totalIncl_str}}</div>
      </div>          
    </div>

    <div class="summary" *ngIf="cart.payments.length>0">
      <div class="d-flex justify-content-between;" *ngFor="let payment of cart.payments">
        <div>
          <div>{{cart.getPaymentType(payment)}}</div>
          <div>
            <small>{{util.handleDate(payment.created_at)}}</small>
          </div>
        </div>
        <div>{{util.getPriceWithCurrency(payment.amount)}}</div>
      </div>
    </div>
    <div class="summary" *ngIf="cart.change">
      <div class="d-flex justify-content-between">
        <div class="font-weight-bold">Change</div>
        <div>{{util.getPriceWithCurrency(cart.change)}}</div>
      </div>
    </div>
    
    <div class="summary" *ngIf="!cart.isRefund">
      <div class="d-flex justify-content-between">
        <div class="font-weight-bold">To Pay</div>
        <div>{{util.getPriceWithCurrency(cart.total_to_pay)}}
        </div>
      </div>
    </div>
    <div class="summary" *ngIf="!cart.payments.length && !cart.isRefund">
      <div class="d-flex justify-content-between">
        <div class="font-weight-bold">Total Savings</div>
        <div>{{util.getPriceWithCurrency(cart.savings)}}</div>
      </div>
    </div>
  </div>
</app-customer-display>
