<div class="home-container">
  <div class="home-content">
    <div class="welcome">
      <div class="row banner">
        <div class="col-md-4">
          <img src="/assets/image/interface/faq/banner1.png" alt="" />
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center">
          <h1 class="text-light-blue text-center">Frequently Asked Questions</h1>
        </div>
        <div class="col-md-4">
          <img src="/assets/image/interface/faq/banner2.png" alt="" />
        </div>
      </div>            
    </div>
    <div class="how">
      <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="font-weight-bold text-center">If you're still wondering if CaPOS is the system for you, take a test drive, and then ask yourself these questions:</h1>
      </div>
      <div class="mt-5">
        <div class="row node">
          <div class="col-md-6 img flex-end">
            <div class=" img-wrapper">
              <img src="/assets/image/interface/faq/care.png" alt="" />
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>Was it user-friendly? Were you able to get around easily? Was it intuitive?</h5>
            <h6>The answer will be a resounding YES. If you had anything other than a positive experience, please contact our Support personnel so they can walk you through the issue. Our clients find that our POS system is the easiest, most intuitive program of its kind on the market today.</h6>
          </div>
        </div>
        <div class="row node">
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>Is the system fully contained? Does it come with hardware?</h5>
            <h6>CaPOS is here to set you up quickly to get your store running and taking transactions asap.</h6>
          </div>
          <div class="col-md-6 img">
            <div class="img-wrapper">
              <img src="/assets/image/interface/faq/checked.png" alt="Report" />
            </div>
          </div>          
        </div>
        <div class="row node">
          <div class="col-md-6 img flex-end">
            <div class="img-wrapper">
              <img src="/assets/image/interface/faq/mail.png" alt="" />
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>How much does the system cost?</h5>
            <h6>We have four plans; you choose which program is appropriate for your needs. The executive plan, as well as three other plans, are available.</h6>
          </div>
        </div>        
        <div class="row node">          
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>What are the rates?</h5>
            <h6>Our payment processing rates in each of our four plans are reasonably priced at market value.</h6>
          </div>
          <div class="col-md-6 img">
            <div class=" img-wrapper">
              <img src="/assets/image/interface/faq/money-bag.png" alt="" />
            </div>
          </div>
        </div>   
        <div class="row node">
          <div class="col-md-6 img flex-end">
            <div class=" img-wrapper">
              <img src="/assets/image/interface/faq/test.png" alt="" />
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>What about reports?</h5>
            <h6>You have many options here. Our reports are fully customizable and since they are on the cloud, can be accessed by yourself or anyone you choose. For example, if you want to give your CPA access in some regions of the report, no problem. It's that easy.</h6>
          </div>
        </div>   
        <div class="row node">          
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>What about inventory management?</h5>
            <h6>You will be able to manage your staff, as well as inventory, with CaPOS. You'll keep your cupboards well-stocked by using our management system. Your employees will appreciate the ease of checking in.</h6>
          </div>
          <div class="col-md-6 img">
            <div class=" img-wrapper">
              <img src="/assets/image/interface/faq/inventory.png" alt="" />
            </div>
          </div>
        </div>   
        <div class="row node">
          <div class="col-md-6 img flex-end">
            <div class=" img-wrapper">
              <img src="/assets/image/interface/faq/integration.png" alt="" />
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>Any integrations?</h5>
            <h6>Yes, check out our Integrations page for details. We also have loyalty bonuses and convenient online ordering.</h6>
          </div>
        </div>   
        <div class="row node">          
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>Speaking of loyalty, what about customer marketing?</h5>
            <h6>Yes, see our loyalty page or contact us to inquire.</h6>
          </div>
          <div class="col-md-6 img">
            <div class=" img-wrapper">
              <img src="/assets/image/interface/faq/medal.png" alt="" />
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>