.table-container table td{
    border: none;
  }
  tr.example-detail-row {
    height: 0;    
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  tr.example-expanded-row, tr.example-detail-row {
    border-left: 4px solid green;
  }
  
  .table-container table .example-element-row td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .example-element-detail {
    overflow: hidden;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
  }
.add_register, .register_name{
  line-height: 40px;
}  