<mat-card class="capos-card p-4">
    <mat-card-content>
        <div class="text-center" *ngIf="permission">
            <button mat-button (click)="save()" class="bg-custom-2 text-white"><mat-icon>save</mat-icon>Save</button>
        </div>        
        <div class="settings">            
            <div>
                <mat-checkbox [(ngModel)]="store_policy.others.foreign_currency_used" [disabled]="true">Foreign Currency Used</mat-checkbox>
                <div class="d-flex ml-4 mb-4" *ngIf="store_policy.others.foreign_currency_used">
                    <label>Foreign Currency Name:</label>
                    <input type="text" [(ngModel)]="store_policy.others.foreign_currency"/>
                    <label class="ml-5">Foreign Currency Rate:</label>
                    <input type="text" [(ngModel)]="store_policy.others.foreign_currency_rate"/><span> /CAD$</span>
                </div>
            </div>
            <div class="d-flex mb-3">
                <label>Margin Rate(%):</label>
                <input type="text" [(ngModel)]="store_policy.others.margin_rate"/>
            </div>
            <div>
                <mat-checkbox [(ngModel)]="store_policy.others.vendor_margin_rate_used" [disabled]="!permission">Vendor margin rate used</mat-checkbox>
            </div>
            <div class="d-flex mb-3">
                <label>Charge account balance limit($):</label>
                <input type="text" [(ngModel)]="store_policy.others.charge_limit"/>
            </div>
            <hr/>
            <div *ngFor="let s of STORE_POLICY.OTHERS">
                <mat-checkbox [(ngModel)]="store_policy.others_settings[s.code]" [disabled]="!permission">{{s.label}}</mat-checkbox>    
                <ng-container *ngIf="['pd_age', 'display_other'].includes(s.code)">
                    <hr/>
                </ng-container>                      
            </div>
            <div class="d-flex mb-3">
                <label>Scale Weight Unit:</label>
                <select [(ngModel)]="store_policy.others.scale_weight_unit">
                    <option value="kg">KG</option>
                    <option value="lb">LB</option>
                </select>
            </div>
        </div>
        <div class="text-center" *ngIf="permission">
            <button mat-button (click)="save()" class="bg-custom-2 text-white"><mat-icon>save</mat-icon>Save</button>
        </div>
    </mat-card-content>
</mat-card>