<div class="p-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="h3">Confirm Password</div>    
    <button mat-mini-fab [matDialogClose]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>Need to confirm your password in order to add discount.</div>
  <form [formGroup]="form" (ngSubmit)="doAction()">  
    <mat-form-field class="w-100">
      <mat-label>Password</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput placeholder="Type your password" formControlName="password" required>
      <mat-icon class="white-icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="passwordInput.invalid">{{passwordInputError}}</mat-error>
    </mat-form-field>    
    <div class="d-flex justify-content-end align-items-right p-1">
      <button type="submit" mat-raised-button class="bg-custom-1 ml-1 mt-3 text-white" color="primary">Confirm</button>
    </div>
  </form>
</div>
