<div class="home-container">
  <div class="home-content">
    <div class="welcome">
      <div class="row banner">
        <div class="col-md-4">
          <img src="/assets/image/interface/how-it-works/how-it-works2.png" alt="" />
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center">
          <h1 class="text-light-blue text-center">How it works</h1>
        </div>
        <div class="col-md-4">
          <img src="/assets/image/interface/how-it-works/how-it-works1.png" alt="Report" />
        </div>
      </div>      
    </div>
    <div class="how">
      <div class="w-100 mb-3" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="font-weight-bold text-center">Implement  - Train - Support</h1>
      </div>
      <div class="desc">        
        <h5>When changing something as incremental to the business as your CaPOS system a common fear is the inconvenience, stress and impact that it could have to you, the staff and the business.</h5>
        <h5>At CaPOS with years’ experience in dealing with businesses just like yours we will guarantee 24/7 support from the day you start.</h5>
      </div>
      <div class="text-center mt-5">
        <button class="btn-lg" mat-raised-button routerLink="/contact">Contact</button>
      </div>
    </div>

    <div class="mt-5">
      <div class="row node">
        <div class="col-md-3 text-center">
          <div class=" img-wrapper">
            <img src="/assets/image/interface/home/implement.png" alt="Implement" />
          </div>
        </div>
        <div class="col-md-9 d-flex flex-column justify-content-center">
          <h5>Implement</h5>
          <h6>Firstly, we will will assist you all the way through the process of starting yousing CaPOS. Secondly, we will design and specialise CaPOS, to meet your business requirements.</h6>
          <h6>
            We’ve analyzed all competitors on the market and clients reviews to  requirements and goals. This allows us to create a bespoke point of sale solution which is tailored to your needs. Once we've reached a stage where everyone is happy with the proposed solution, we can start implementing the new technologies. To minimise disruption, we create a detailed plan which allows for a quick, stress-free process.
          </h6>  
        </div>
      </div>
      <div class="row node">
        <div class="col-md-3 text-center">
          <div class=" img-wrapper">
            <img src="/assets/image/interface/home/train.png" alt="Train" />
          </div>
        </div>
        <div class="col-md-9 d-flex flex-column justify-content-center">
          <h5>Train</h5>
          <h6>CaPOS system is client oriented and is really easy in use. Whether you have one Manager or a collection of different operational teams, the training can be carried out on or off site so you are ready with the new system. Once you have used the system for a short time, your dedicated account manager will assist you in making sure that everything is running smoothly.</h6>
          <h6>Sometimes things change for you and the business, so this can often be a good opportunity to review what works operationally and make any adjustments to maximise the effectiveness of our system. Dependent on future needs, your account manager will also arrange reviews with you as the year goes on to make sure you feel fully supported.</h6>
        </div>
      </div>
      <div class="row node">
        <div class="col-md-3 text-center">
          <div class=" img-wrapper">
            <img src="/assets/image/interface/home/supports.png" alt="Supports" />
          </div>
        </div>
        <div class="col-md-9 d-flex flex-column justify-content-center">
          <h5>Support</h5>
          <h6>Once the system is up and running, our friendly support team are available at every step to ensure that you are confident and happy. Whether checking stock yields and batch quantities or analysing reports we are here to help.</h6>
          <h6>Our extensive support network is one of the largest in the industry. Our team is available for help 24/7. We will even send you an engineer if we can’t solve the problem remotely. All our vehicles are fitted with tracking devices so the nearest team will respond.</h6>
        </div>
      </div>
    </div>
  </div>
</div>