table th, td {
  text-align: right;
}
table {
  thead {
    th {
      border-bottom: 1px solid;
      padding-bottom: 5px;
    }
  }
  tbody{
    td{
      border-bottom: 1px solid #ddd;
    }    
  }
}
table tbody td ::ng-deep {
  .mat-form-field-infix{
      width: 70px;
  }
  .mat-form-field-infix input{
      text-align: right;        
  }    
  .mat-form-field-flex{
      background-color: white;
      padding: 0;
      margin-top: 10px;
  }
}
.is-loading ::ng-deep .mat-option-text {
  display: flex;
  justify-content: center;
}
