<div fxLayout="column">
	<div class="active_widget">
		<div>
			<ui-switch [(ngModel)]="store.active_widget.services"></ui-switch> <span>Active</span>
		</div>
		<button mat-raised-button color="primary" (click)="save()" class="ml-3"><mat-icon>save</mat-icon> Save</button>
	</div>
	<ng-container *ngIf="store.active_widget.services">
		<mat-card class="capos-card grey-card mb-4" *ngFor="let service of services; let i=index;">
			<mat-card-header>
				<mat-card-title>Service {{i+1}}</mat-card-title>
				<mat-icon class="ml-auto cursor-pointer" color="warn" (click)="removeService(i)">delete</mat-icon>
			</mat-card-header>
			<mat-card-content>
				<div class="row">
					<div class="col-md-6">
						<mat-form-field class="w-100">
							<mat-label>Name</mat-label>
							<input matInput type="text" [(ngModel)]="service.name" [ngModelOptions]="{standalone: true}">
							<mat-hint>ex: Bonus Plus</mat-hint>
						</mat-form-field>	
					</div>
					<div class="col-md-6">
						<mat-form-field class="w-100">
							<mat-label>Description</mat-label>
							<input matInput type="text" [(ngModel)]="service.description" [ngModelOptions]="{standalone: true}">
							<mat-hint>ex: Get a bonus plus for buying more that three products</mat-hint>
						</mat-form-field>	
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-6">						
						<mat-form-field class="w-100">
							<mat-label>Icon</mat-label>							
							<input matInput type="text" [(ngModel)]="service.icon" [ngModelOptions]="{standalone: true}">
							<mat-icon matSuffix class="cursor-pointer" (click)="searchIcon()">search</mat-icon>
						</mat-form-field>
						<div>
							<h6 class="hint">Recommened Icons</h6>
							<div class="d-flex flex-wrap">
								<mat-icon *ngFor="let icon of iconList" class="cursor-pointer mr-2" color="primary" (click)="selIcon(icon, i)">{{icon}}</mat-icon>
								<a href="https://klarsys.github.io/angular-material-icons/" target="_blank" class="mt-2">More Icons...</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="service_preview">
							<mat-icon mat-stroked-button color="primary" class="mat-icon-xlg  m-0" *ngIf="service.icon">{{service.icon}}</mat-icon>
							<div class="content">							
								<p *ngIf="service.name">{{service.name}}</p>
								<span class="text-muted m-0" *ngIf="service.description">{{service.description}}</span>
							</div>
						</div>
					</div>					
				</div>				
			</mat-card-content>		
		</mat-card>		
	</ng-container>
	<div class="mt-3 text-center">
		<button mat-raised-button color="primary" (click)="addService()" [disabled]="services.length>=4" *ngIf="store.active_widget.services">
			<mat-icon>add_circle</mat-icon> Add Service
		</button>
		<button mat-raised-button color="primary" (click)="save()" class="ml-3"><mat-icon>save</mat-icon> Save</button>
	</div>
</div>