<div class="home-container">
  <div class="home-content">
    <div class="welcome">
      <div class="row banner">
        <div class="col-md-4">
          <img src="/assets/image/interface/features/knowledge2.png" alt="" />
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center">
          <h1 class="text-light-blue text-center">Features</h1>
        </div>
        <div class="col-md-4">
          <img src="/assets/image/interface/features/knowledge1.png" alt="" />
        </div>
      </div>            
    </div>
    <div class="how">
      <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="font-weight-bold text-center">What makes us stand out?</h1>
      </div>
      <div class="mt-5">
        <div class="row node">
          <div class="col-md-6 img flex-end">
            <div class=" img-wrapper">
              <img src="/assets/image/interface/features/reliability_icon.png" alt="" />
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>Reliability</h5>
            <h6>Your POS must be dependable. Here at CaPOS, we are heavy into support. No matter what time it is, 24/7, we are always here for you. It's not just a slogan; it's in our DNA. Our friendly staff is some of the best trained in the world. You can rely on our Support personnel to answer any question you have and to help you through any issue that comes across – anytime.</h6>
          </div>
        </div>
        <div class="row node">
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>Speed</h5>
            <h6>Our system is Road Runner fast. Your POS system and hardware is the heart of your restaurant, bar, or retail business. It needs to be dependable and fast to keep up with today's busy lifestyle. If your POS doesn't keep pace, customers will go elsewhere.</h6>
          </div>
          <div class="col-md-6 img">
            <div class="img-wrapper">
              <img src="/assets/image/interface/features/speed_icon.png" alt="Report" />
            </div>
          </div>          
        </div>
        <div class="row node">
          <div class="col-md-6 img flex-end">
            <div class="img-wrapper">
              <img src="/assets/image/interface/features/report_icon.png" alt="" />
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>Reports that are customizable</h5>
            <h6>Your business is unique. You are unique. Your POS needs to be individualized for the way you do business. CaPOS' unmatched advanced technology runs intuitively to give you the foremost tailor-made versatility that supports you when you need it.</h6>
          </div>
        </div>        
        <div class="row node">          
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>Advanced management of inventory and staff</h5>
            <h6>CaPOS easy, powerful built-in algorithms gives you the performance you require for your growing business. Day in and day out, you will be able to access the system to accurately pinpoint your requirements with a touch of a button.</h6>
          </div>
          <div class="col-md-6 img">
            <div class=" img-wrapper">
              <img src="/assets/image/interface/features/inventory_management_icon.png" alt="" />
            </div>
          </div>
        </div>   
        <div class="row node">
          <div class="col-md-6 img flex-end">
            <div class=" img-wrapper">
              <img src="/assets/image/interface/features/security_icon.png" alt="" />
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h5>Full compliance of PCI DSS</h5>
            <h6>CaPOS maintain a secure network to protect your business when making transactions. Cardholder information is locked and secured as well. Digital encryption, frequently updated anti-virus, anti-spyware, and anti-malware software protects at the highest possible level of vulnerability management protection.</h6>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>