<div class="container p-4">
    <mat-tab-group>
        <mat-tab label="Header">
            <div class="row align-items-center mt-4 w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>1st Line(BOLD)</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="header1Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="header1" [ngModelOptions]="{standalone: true}" placeholder="1st line" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>2nd Line(BOLD)</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="header2Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="header2" [ngModelOptions]="{standalone: true}" placeholder="2nd line" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>3rd Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="header3Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="header3" [ngModelOptions]="{standalone: true}" placeholder="3rd line" required>
                    </mat-form-field>
                </div>
            </div>


            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>4th Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="header4Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="header4" [ngModelOptions]="{standalone: true}" placeholder="4th line" required>
                    </mat-form-field>
                </div>
            </div>


            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>5th Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="header5Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="header5" [ngModelOptions]="{standalone: true}" placeholder="5th line" required>
                    </mat-form-field>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Policy">
            <div class="row align-items-center mt-4 w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>1st Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="policy1Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="policy1" [ngModelOptions]="{standalone: true}" placeholder="1st line" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>2nd Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="policy2Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="policy2" [ngModelOptions]="{standalone: true}" placeholder="2nd line" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>3rd Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="policy3Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="policy3" [ngModelOptions]="{standalone: true}" placeholder="3rd line" required>
                    </mat-form-field>
                </div>
            </div>


            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>4th Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="policy4Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="policy4" [ngModelOptions]="{standalone: true}" placeholder="4th line" required>
                    </mat-form-field>
                </div>
            </div>


            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>5th Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="policy5Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="policy5" [ngModelOptions]="{standalone: true}" placeholder="5th line" required>
                    </mat-form-field>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Marketing">
            <div class="row align-items-center mt-4 w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>1st Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="marketing1Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="marketing1" [ngModelOptions]="{standalone: true}" placeholder="1st line" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>2nd Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="marketing2Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="marketing2" [ngModelOptions]="{standalone: true}" placeholder="2nd line" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>3rd Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="marketing3Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="marketing3" [ngModelOptions]="{standalone: true}" placeholder="3rd line" required>
                    </mat-form-field>
                </div>
            </div>


            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>4th Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="marketing4Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="marketing4" [ngModelOptions]="{standalone: true}" placeholder="4th line" required>
                    </mat-form-field>
                </div>
            </div>


            <div class="row align-items-center w-100">
                <div class="col-sm-8 col-md-4 col-lg-2">
                    <label>5th Line</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="marketing5Status" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="w-100">
                        <input matInput type="text" [(ngModel)]="marketing5" [ngModelOptions]="{standalone: true}" placeholder="5th line" required>
                    </mat-form-field>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Ticket Policy">
            <div class="row w-100 mt-4">
                <div class="col-sm-12 col-md-2 col-lg-1">
                    <mat-checkbox [(ngModel)]="ticketPolicyStatus" [ngModelOptions]="{standalone: true}">
                        Used
                    </mat-checkbox>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-11">
                    <mat-form-field class="w-100">
                        <textarea matInput placeholder="..." [(ngModel)]="ticketPolicy" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="mt-5">
        <div class="row align-items-center mt-4 w-100">
            <div class="col-sm-8 col-md-4 col-lg-3">
                <label>Pole Display Line1</label>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field class="w-100">
                    <input matInput type="text" [(ngModel)]="pole1" [ngModelOptions]="{standalone: true}" placeholder="pole display line1" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row align-items-center w-100">
            <div class="col-sm-8 col-md-4 col-lg-3">
                <label>Pole Display Line2</label>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field class="w-100">
                    <input matInput type="text" [(ngModel)]="pole2" [ngModelOptions]="{standalone: true}" placeholder="pole display line2" required>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div><button type="button" (click)="onSave()" mat-raised-button color="accent" class="mt-2">UPDATE</button></div>

</div>