.num_pad{
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 0.5rem;
    input.quantity{
        background-color: #013a4d;
        color: white;
        text-align: right;
        padding: 0.15rem 0.25rem;
        width: 100%;
        font-size: 3em;
    }
    & > div{
        display: flex;
        button{
            font-size: 3em;
            font-weight: 500;
            &.btn-sm{font-size: 1.5em;}    
        }
        .flex-even {flex: 1;}
    }    
}
