.footer {
  * {
    font-family: inherit !important;
  }  
  background: #869FA8;
  padding-top: 30px;
  padding-bottom: 30px;
  .footer-list {
    padding-top: 0px;
  }
  .contact-number {
    margin-top: 40px;
  }
  .titles{
    a{
      padding: 0.25rem 1.25rem;
      color: #000;
      text-decoration: none;
    }
    a.active-link{
      font-weight: 500;
    }
  }
}
