<div class="home-container">
  <div class="home-content">
    <div class="welcome">
      <div class="row banner">
        <div class="col-md-4">
          <img src="/assets/image/interface/support/support1.png" alt="" />
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center">
          <h1 class="text-light-blue text-center">CaPOS Support</h1>
        </div>
        <div class="col-md-4">
          <img src="/assets/image/interface/support/247.png" alt="Report" />
        </div>
      </div>      
      <div class="text-center mt-5">
        <button class="btn-lg" mat-raised-button routerLink="/contact">Contact</button>
      </div>
    </div>
    <div class="how">
      <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="font-weight-bold text-center">What makes us different? CaPOS Support.</h1>
      </div>
      <div class="mt-5">
        <div class="row node">
          <div class="col-md-3 text-center">
            <div class=" img-wrapper">
              <img src="/assets/image/interface/support/technical-support.png" alt="" />
            </div>
          </div>
          <div class="col-md-9 d-flex flex-column justify-content-center">
            <h5>Support without peer</h5>
            <h6>We do everything possible to make you feel comfortable and reassured. Our team will look after you from the first moment you contact us.</h6>
            <h6>We’ll help you with your perfect POS solution and customization to meet your requirements fully. Though, CaPOS system is really easy in use, we will provide all necessary tutorials and support for your business run smoothly and effectively right from the start.</h6>
            <h6>Once you’re onboard we’ll make sure your CaPOS experience is as seamless as possible. If there’s a hitch, we’ll respond quickly so any downtime is kept to a minimum.</h6>
          </div>
        </div>
        <div class="row node">
          <div class="col-md-3 text-center">
            <div class=" img-wrapper">
              <img src="/assets/image/interface/support/247.png" alt="Report" />
            </div>
          </div>
          <div class="col-md-9 d-flex flex-column justify-content-center">
            <h5>WE ARE ALWAYS HERE FOR YOU -24/7</h5>
            <h6>We at CaPOS  understand that time is one of the most valuable resources for business. Our system is Road Runner fast. Your POS system and hardware is the heart of your restaurant, bar, or retail business. It needs to be dependable and fast to keep up with today's busy lifestyle. If your POS doesn't keep pace, customers will go elsewhere.</h6>
            <h6>That is why we provide 24/7 support for our clients to be sure that whatever issue they accidently face in their way of effiient business operation, our epmloyees will always be here for you to save your time and solve problems whenever they occur.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>